
@{
    ViewData["Title"] = "修改所有课程学分";
}

<h2>修改所有课程学分</h2>

<h2>@ViewData["UpdateRows"]</h2>

<form method="post">
    <input type="text" name="credit" />
    <input type="submit" value="提交" class="btn btn-default"/>
</form>
<div>
    <a asp-action="Index">返回列表</a>
</div>


